<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create layout with RWD</title>
    <link rel="stylesheet" href="create_layout.css">
</head>
<body>
<div class="row head">
    <div>
        <a class="class">Logo</a>
        <a class="class">Home</a>
        <a class="class">About</a>
        <a class="class">Projects</a>
        <a class="class">Contact</a>
    </div>
    <div>
        <a class="class">Login</a>
    </div>
</div>
<div class="row">
    <div class="col-s-12 col-m-3 col-l-2 left">
        <a class="class1">Link</a>
        <a class="class1">Link</a>
        <a class="class1">Link</a>
    </div>
    <div class="col-s-12 col-m-6 col-l-8 content">
        <h1>Welcome</h1>
        <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolorem doloremque eum harum id magni
            necessitatibus, praesentium quae quisquam reprehenderit sapiente totam. Asperiores atque culpa ea eius
            eligendi ex id in libero minima molestias nisi nulla porro, quia quibusdam quod similique vero voluptate
            voluptatibus. Accusamus aut cumque dolorum earum facere iure laboriosam minus. Alias amet architecto
            consequatur eaque earum expedita magnam, natus necessitatibus nobis, perspiciatis provident quaerat quis
            quisquam quo recusandae tenetur voluptatibus! Aliquid culpa debitis, dicta dignissimos, dolorem dolores
            eaque enim excepturi hic iste iure, laborum non odio quasi quidem recusandae tenetur veniam voluptatum.
            Consectetur dolor eaque rem vel.
            Accusamus aut cumque dolorum earum facere iure laboriosam minus. Alias amet architecto
            consequatur eaque earum expedita magnam, natus necessitatibus nobis, perspiciatis provident quaerat quis
            quisquam quo recusandae tenetur voluptatibus! Aliquid culpa debitis, dicta dignissimos, dolorem dolores
            eaque enim excepturi hic iste iure, laborum non odio quasi quidem recusandae tenetur veniam voluptatum.
            Consectetur dolor eaque rem vel.</p>
        <hr>
        <h3>Test</h3>
        <p class="content">Lorem ipsum...</p>
    </div>
    <div class="col-s-12 col-m-3 col-l-2 right">
        <div>
            <p class="border">ADS</p>
            <p class="border">ADS</p>
        </div>

    </div>
</div>
<div class="row head"><div class="col-s-12 col-m-12 col-l-12 format1">Footer text</div></div>
</body>
</html>